* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.leftcolumn {
  float: left;
  width: 75%;
}

.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
  margin-top: 20px;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: sans-serif;
}

.Section_top {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url(/images/image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content: center;
  animation: change 25s infinite ease-in-out;
}

@keyframes change {
  0% {
    background-image: url(/images/img1.jpg);
  }

  20% {
    background-image: url(/images/img2.jpg);
  }

  40% {
    background-image: url(/images/image.jpg);
  }

  60% {
    background-image: url(/images/img4.jpg);
  }

  80% {
    background-image: url(/images/img5.jpg);
  }

  100% {
    background-image: url(/images/img1.jpg);
  }
}